.container{

	background-color: aliceblue;
	max-width: 600px;
    margin: 0 auto;
    padding: 30px;
}

.login,
.board-size,
.enemy,
.start {
    text-align: center;    
}

.enemy,
.board-size {
    height: 100px;
}

input[type="text"] {
    border-radius: 5px;
    border: none;
    height: 25px;
    width: 200px;
}

.game-container {
    display: none; 
    width: 450px;
    height: 450px;
    margin: 0 auto;
    position: relative;
}

.cell {
    float: left;
    background: aliceblue;
    border: 1px solid #cfcfcf;
    cursor: pointer;
    height: 148px;
    width: 148px;  
}
/*
.cell {
    float: left;
    background: aliceblue;
    border: 1px solid #cfcfcf;
    cursor: pointer;
    height: 72px;
    width: 72px;  
}*/




